.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  align-items: flex-end;
  pointer-events: none;
  inset: auto 0 0;
  padding: 2rem;
  height: 200px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(var(--background-end-rgb)) 40%
  );
  z-index: 20;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.miniLogo {
  width: 30px;
  height: auto;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    padding: 2rem;
    height: 16vh;
  }
}
