/* Large screens */
.headerXL,
.headerL,
.headerM,
.headerS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  /* max-width: var(--max-width); */
  width: 100%;
  z-index: 20;
  font-family: var(--font-mono);
  padding: 4rem 5%;
}

.headerXL p,
.headerL p,
.headerM p,
.headerS p {
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.headerXL .nav,
.headerL .nav,
.headerM .nav,
.headerS .nav {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
}

.themeSwitchBtn {
  padding: 0.3rem;
  min-height: 2rem;
  min-width: 2rem;
}

.themeSwitchBtn:hover {
  background-color: rgba(var(--foreground-rgb), 0.2);
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  border-radius: var(--border-radius);
  padding: 0.3rem;
  min-height: 2rem;
  min-width: 2rem;
}

/* Medium screens */
.headerL {
  padding: 3rem 2%;
}

/* Small screens */
.headerM,
.headerS {
  font-size: 0.8rem;
  position: fixed;
  padding: 1rem 3%;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 1),
    rgba(var(--callout-rgb), 0.5)
  );
  background-clip: padding-box;
  backdrop-filter: blur(24px);
}

.headerM p,
.headerS p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

/* Smaller screens & Mobile */
.headerS nav {
  margin: 0;
}
