.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 0;
  /* padding-bottom: 8.5rem; */
  min-height: 100vh;
  max-width: 100%;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

/* Parallax styles */
.backgroundParallax {
  -webkit-animation: parallaxEffect linear;
  animation: parallaxEffect linear;
  animation-timeline: scroll(y);
}

@-webkit-keyframes parallaxEffect {
  to {
    translate: 0 2000px;
  }
}

@keyframes parallaxEffect {
  to {
    translate: 0 2000px;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  @-webkit-keyframes parallaxEffect {
    to {
      translate: 0 4000px;
    }
  }

  @keyframes parallaxEffect {
    to {
      translate: 0 4000px;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  /* .vercelLogo {
    filter: invert(1);
  } */

  .logo {
    -webkit-filter: drop-shadow(0 0 0.3rem #ffffff70);
    filter: drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* My styles */
.backgroundImgTop,
.backgroundImgMiddle {
  position: absolute;
  inset: 0;
  height: auto;
  width: 55vw;
  max-width: 1000px;
  z-index: -10;
}

.backgroundImgMiddle {
  inset: 60% 0 auto auto;
}

.animatedIconSkeletonContainer {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
